/* Universal */

body {
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 30px;
  font-size: 20px;
  font-weight: 300;
  margin: 15px 0;
}

.clear {
  clear: both;
}


/* Containers */

/*#page-container {
  max-width: 960px;
  margin: 0 auto;
}*/

.content-container {
  max-width: 700px;
  margin: 0 auto;
}


/* Headlines */
.section-headlines {
  font-size: 50px;
  text-align: center;
  font-weight: 700;
}

.section-subtitles {
  font-weight: 400;
  font-size: 35px;
  margin: 20px 0 0 0;
}

.highlighted-words {
  font-weight: 400;
}

/* */

li {
  list-style: none;
  
}

/* Referral Section */

.referral {
  width: 100%;
  margin: 35px 0 35px 0;
  background-color: #eee;
}

.referral p {
  max-width: 400px;
  float: left;
  margin: 100px 0 0 25px;
  font-style: italic;
  font-size: 25px;
}

.referral img {
  float: right;
}


/* Portfolio section */
ul.portfolio-pieces {
  margin: 0 0 33.5px 0;
}

.portfolio-pieces li {
  display: inline-block;
  width: 195px;
  margin-right: 20px; 
  height: 150px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 2px 2px #c0c0c0;
  box-shadow: 2px 2px 2px 2px #c0c0c0;
}

#portfolio-pieces li:hover {
  cursor: pointer;
}

#portfolio-pieces li img {
  width: 110%;
}
