/* Universal */

body {
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
}

p {
  line-height: 30px;
  font-size: 20px;
  font-weight: 300;
  margin: 15px 0;
}

.clear {
  clear: both;
}


li {
  list-style: none; 
}

hr {
  margin: 40px 0 40px 0;
  border: 1px #eee solid;
  color: #eee !important;   
}

.caption {
  font-style: italic;
  font-size: 12px;
  margin:0 0 0 45%;
}

/* Nav */

#nav {
  float: right;
  margin-bottom: 30px;
}

#nav li {
  display: inline;
  margin-right: 20px;
}

/* Containers */

#page-container {
  max-width: 960px;
  margin: 0 auto;
}

.content-container {
  max-width: 700px;
  margin: 0 auto;
}


/* Section  */
.section-headlines {
  font-size: 49px;
  text-align: center;
  font-weight: 700;
  margin: 10px;
}

.section-subtitles {
  font-weight: 400;
  font-size: 35px;
  margin: 20px 0 0 0;
}

.highlighted-words {
  font-weight: 400;
}

/* Intro section */
#intro-section {
  /*height: 500px;*/
  margin-bottom: 20px;
}

#intro-content {
  width: 320px;
  margin-top: 80px;
  float: left;
}


#intro-section img {
  float: right;
  /*background: blue;*/
}

/* Referral Section */

.referral {
  width: 100%;
  margin: 35px 0 35px 0;
  /*background-color: #eee;*/
}

.referral p {
  max-width: 400px;
  float: left;
  margin: 30px 0 0 50px;
  font-style: italic;
  font-size: 22px;
  color: #95a5a6;
}

.referral img {
  height: 250px;
  float: right;
  margin-right: 35px;
}

.referral-name {
  color: #000;
  font-size: 14px;
  margin-left: 5px;
}

/* */

#stand-for-something-list li {
  margin-bottom: 10px;
  list-style-type:square;
  font-weight: 300;
  font-size: 16px;

}

.section-1 {
  float: left;
}


.section-2 {
  float: right;
  margin-right: 50px;
}



/* Personal Section*/

ul.personal-section {
  padding-left: 20px;
}

/* Portfolio section */
ul.portfolio-pieces {
  margin: 0 0 33.5px 0;
  padding: 0 !important;
}

.portfolio-pieces li {
  display: inline-block;
  /*width: 195px;*/
  margin:20px 20px 20px 10px; 
  height: 150px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 2px 2px #c0c0c0;
  box-shadow: 2px 2px 2px 2px #c0c0c0;
}
 
/* Portfolio section */

.portfolio-pieces li:hover {
  cursor: pointer;
}

.portfolio-pieces li img {
  width: 110%;
}

.quotes {
  max-width: 550px;
  margin-left: 75px;
  color: #95a5a6;
  font-style: italic;

}

.quotes span {
  margin-left: 350px;
}

/* Footer */
footer {
  margin-bottom: 70px;
}

footer li {
  display: inline;
  margin-right: 15px;
}

/* Basecamp Screenshots */

.basecamp-screenshots {
  margin: 35px 0;
}

.basecamp-screenshots img {
  -webkit-box-shadow: 2px 2px 2px 2px #c0c0c0;
  box-shadow: 2px 2px 2px 2px #c0c0c0;
  margin-left: 13px;
}

.basecamp-screenshots p {
 margin-bottom: 20px;
}

.basecamp-screenshots .center-BC-img{
  margin-left: 9%;
}